#effect-1 {
    z-index: 100;    
    display: inline-block;
    height: 32px;
    background-color: steelblue;
    border-radius: 15px;
    box-shadow: 3px 5px 4px rgba(0,0,0,0.4);
    padding:0;
    width: 30vh;
    @keyframes menu1 {
        from {
            transform: rotateY(-90deg) translateY(-30px) translateZ(-60px);
            opacity: 0;
        }
        to {
            transform: none;
            opacity: 1;
        }
    }



 


    ul.drpdwn-menu li {
        display: none;
    }


    > ul {
        height: inherit;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        /* use nth-child() to select one dropdown tab */
        text-transform: uppercase;
        padding: 0;
        > li { /* drpdwn-tab-one */
            height: inherit;
            width: 100%;
            display: block;
            padding: 0;  
            align-items: center;  
            text-align: center;  
            padding-top: 5px;
        }
    }

    h2 {
        height: 32px;
        font-weight: 300;
        font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
        color: white;
        font-size: 20px;
        margin: 0;
    }

    /* dropdown-menu class */
    .drpdwn-menu {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        padding: 0;
        > li {
            position: relative;
            text-align: center;
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            padding: 5px;
            font-weight: 500;
            > a {
                font-weight: 900;
            }
        }
    }   


    li:hover > ul.drpdwn-menu.menu-one {
        perspective: 1000px;
        transform-origin: top;
        li {
            color: white;
            font-family: Nunito Sans,Avenir,Helvetica,Arial,sans-serif;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 2px;
            background-image: linear-gradient(to bottom, black, #353441);
            display: block;
            opacity: 0;
            @for $i from 1 through 11 {
                &:nth-child(#{$i}) {
                    animation: {
                        name: menu1;
                        duration: .2s;
                        delay: (130ms * $i) - 130;
                        fill-mode: forwards;
                    }    
                }   
            }          
        }
        li:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: 50%;
            background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
        }
        li:hover {
            background: linear-gradient(#073,#0fa);
        }
        > li:nth-child(6) {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}


.remove-left-border-radius {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    transition: 1s;
}

.remove-right-border-radius {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    transition: 1s;
}